@model VeritabaniProjesi.Models.Post

@{
    ViewData["Title"] = Context.Request.Query["title"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<h1>Detaylar</h1>

<div>
    <h4>Gönderi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index", asp-route-title="@TempData["Title"]">Listeye Geri Dön</a>
</div>
    </div>